# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda 

# Partition clearing information
clearpart --all --drives=sda

# Partition information (To encrypt the partition add: --encrypted --luks-version=luks2 --passphrase=P@ssword)
autopart --type=lvm

# Use text install
text

# Install source
cdrom 

# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'

# System language
lang en_US.UTF-8

# Network information
network --onboot=yes --bootproto=dhcp --noipv6 --activate --hostname=rockylinux-custom.localdomain

# Root password (hashed for security)=P@ssword
rootpw --iscrypted $6$INireMy4ZLQwW7NN$btkLm/dwn9qV/XWW8dhDd2hjKHk8tj59q.Q8qSW7i4LojhPYWXDx4YRWxXQ/.30E8ND3IcImJ.pys3DyYwco0.

# Run the Setup Agent on first boot
firstboot --disable

# System services
services --enabled="chronyd"

# System timezone
timezone America/Chicago --utc

# SELinux configuration
selinux --enforcing

# Firewall configuration
firewall --enabled --service=ssh

# Reboot after installation
reboot

%packages
@^workstation-product-environment
createrepo
dnf-automatic
genisoimage
isomd5sum
kexec-tools
libatomic
liberation-fonts
libuv
libvirt
libvirt-client
libvirt-daemon
libXScrnSaver
nss-tools
open-vm-tools
open-vm-tools-desktop
policycoreutils-python-utils
qt5-qtquickcontrols
qt5-qtx11extras
syslinux
virt-install
virt-manager
virt-viewer
vulkan-loader
yum-utils
zstd
%end

%post
# Post-installation script
echo "Post-installation script running..."
# Add any additional post-installation commands here
%end
